{% from 'fullscreen_graphics.html' import bg_video, bg_audio %}
{{ page.set_desc("Colin likes to dance") }}
{{ page.set_title("Colin.swf") }}

{% extends 'fullscreen_graphics.html' %}

{% block extra_style %}
body
{
	background-color: #000000;
}

{% endblock %}

{% block page_content %}
<!-- {{ bg_video(page.images["colin.webm"]) }} -->
<!-- {{ bg_video(page.images["cw1.webm"]) }} -->
{{ bg_video(page.images["cw2.webm"]) }}
{% endblock %}

{#
{% block footer %}
<a class="info" href="https://youtu.be/6sNzSscxKY8">Music by Nish/Alphazone</a>
{% endblock %}
#}
