{% from 'fullscreen_graphics.html' import bg_video, bg_audio %}
{% extends 'fullscreen_graphics.html' %}
{% set page_info.desc = "Colin likes to dance" %}
{% set page_info.title = "Colin.swf" %}

{% set main_video = get_image("cw2.webm") %}
{# Extras/hiddens #}
{% do page_info.rtdeps.add('colin.webm'|path_from_here|to_build_path) %}
{% do page_info.rtdeps.add('cw1.webm'|path_from_here|to_build_path) %}

{% block extra_style %}
body
{
	background-color: #000000;
}

{% endblock %}

{% block page_content %}
{{ bg_video(main_video) }}
{% endblock %}

{#
{% block footer %}
<a class="info" href="https://youtu.be/6sNzSscxKY8">Music by Nish/Alphazone</a>
{% endblock %}
#}
