/* Reset basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure
{
	margin: 0;
	padding: 0;
}

*
{
		box-sizing: border-box;
}

/* Always allocate 100% of the page to allow for pushing the footer to the bottom, etc */
html, body
{
		height: 100%;
}

h1
{
	margin: 1em 0px 0px 0px;
}

/* Global site-header links */
.nav-header
{
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: 1px solid #D8D8D8;
}

.nav-ul > li
{
		/* stack each navigation link horizontally, not vertically */
		display: table-cell;
		width: 1%;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 26px;
		padding-bottom: 1px;
}
.nav-ul > li > a
{
		text-decoration: none;
		color: #337AB7;
}
.nav-ul > li > a:hover
{
		color: #51687B;
		border-bottom: #cccccc 2px solid;
}

.nav-li-home
{
		text-align: left;
}
.nav-li-home > a
{
		padding-left: 6.67%;
		padding-right: 20%;
}
.nav-li-about > a
{
		padding-left: 20%;
		padding-right: 6.67%;
}

.nav-li-about
{
		text-align: right;
}

.nav-ul > li.active > a
{
		/* The nav link of the page we're on gets a special underline highlight */
		border-bottom: 2px solid #307AB0;
}

.page-content
{
		padding: 30px 10%;
		/* push the footer to the bottom */
		min-height: calc(100% - 240px);
}


/* Site-wide footer styling */
.glob-footer
{
		border-top: 1px solid #D8D8D8;
		padding: 30px 10%;
}
.footer-social
{
		width: 50%;
		float: left;
		list-style: outside none none;
		margin-left: 0px;
}

.footer-social > a.fa
{
		color: #307AB0;
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		font-size: 20px;
		line-height: 26px;
		margin-left: 2px;
		margin-right: 2px;
}
.footer-social > a.round
{
		border-radius: 100%;
		border: 2px #B0B0B0 solid;
}
.footer-legal
{
		width: 50%;
		float: right;
}



.no-top-spacing
{
		margin-top: 0px;
}

/* A vertically-spaced list wherein each item is intended to fit on one line */
.list-single-lines > li:before
{
		content: "◉";
		text-align: right;
		font-size: 0.8em;
		width: 10%;
		min-width: 20px;
		max-width: 80px;
		display: inline-block;
}

.list-single-lines
{
		margin: 0.5em 0px;
		list-style: inside none none;
}

