{% set page_info.page_type = AboutPage %}
{% set page_info.title = "About MOOOOOooo" %}

{% from 'base.html' import heading %}

{% extends 'base.html' %}

{% block page_content %}
{{ heading("About this Website") }}
<p>
MOOOOO.ooo is the home of <i>most</i> of my side projects that I find suitable for sharing. It also contains solutions to problems that I was unable to previously find information for online.
The focus of these topics is primarily computing and engineering.
</p>

<p>
The website is hosted with the aid of the InterPlanetary File System (<a href="https://ipfs.io">IPFS</a>) - a peer-to-peer technology that aims to decentralize the web while simultaneously making it faster, safer and more permanent.

In the event that the domain name expires or becomes inaccessible, the website may be loaded through the IPFS portal via <a href="https://ipfs.io/ipns/{{ ipfs.ipns_id }}">this</a> link.

The source code for the website can be found <a href="https://github.com/Wallacoloo/mooooo.ooo">here</a>.
</p>

{{ heading("About the Owner") }}
<p>
My name is Colin Wallace. I write music and contribute to open source coding projects in my free time.
Some might describe me as a Linux enthusiast (I even belong to that rare breed of Linux gamers).
I'm a privacy/free speech proponent and supporter of the EFF and other organizations that work to protect our civil liberties.
I hold a BS in Electrical Engineering from the University of Washington and am currently living in Seattle.
</p>

<p>
Some notable projects to which I have contributed include:
</p>

<ul class="list-single-lines">
		<li>
				<a href="https://www.rust-lang.org/">Rust</a> - a systems programming language
		</li>
		<li>
				<a href="https://lmms.io/">LMMS</a> - an open source Digital Audio Workstation
		</li>
		<li>
				<a href="http://www.stepmania.com/">Stepmania</a> - a music/rhythm game (Dance Dance Revolution clone)
		</li>
		<li>
				<a href="https://github.com/Wallacoloo/printipi">Printipi</a> - a complete firmware package for 3d printers
		</li>
</ul>

<p>
More details can be found on my <a href="https://github.com/Wallacoloo">Github page</a> or through
my {{ onsite_link("resume.pdf"|path_from_here, "resume") }}.
Feel free to reach out to me for any reason (except to advertise your product) - my email can be found at the bottom of this page.
</p>

{{ heading("License / Attributions") }}
<p>
Unless otherwise specified, everything on this website is public domain. That includes all the html/css, artwork, and blog content. They may all be freely used for any purpose with or without attribution.
</p>

<p>
The exceptions to this include:
</p>

<ul class="list-single-lines">
		{% for font in config.fonts.values()|unique|sort %}
		{% set fontinfo=config.fontinfo[font|lower|replace(" ", "")] %}
		{% if fontinfo.license %}
			<li>
					<a href="{{fontinfo.url}}">{{ fontinfo.name }}</a>
					by {{ fontinfo.author }} (license: <a href="{{ config.licenses[fontinfo.license].url }}">
							{{ fontinfo.license }}</a>).
			</li>
		{% endif %}
		{% endfor %}
</ul>

{% endblock %}

