{% from 'base.html' import heading %}

{% extends 'base.html' %}
{% set is_page_about = True %}

{% block title %}About MOOOOOooo{% endblock %}

{% block page_content %}
{{ heading("About this Website", class="no-top-spacing") }}
<p>
MOOOOO.ooo is the place where I post ideas or solutions to problems that I was unable to previously find information for online.
The focus of these topics is primarily computing and engineering.

<br>
<br>

The website is hosted with the aid of the InterPlanetary File System (<a href="https://ipfs.io">IPFS</a>) - a peer-to-peer technology that aims to decentralize the web while simultaneously making it faster, safer and more permanent.

In the event that the domain name expires or becomes inaccessible, the website may be loaded through the IPFS portal by its IPFS name: <a href="https://ipfs.io/ipns/{{ ipfs.ipns_id }}">{{ ipfs.ipns_id }}</a>.

The source code for the website can be found <a href="https://github.com/Wallacoloo/mooooo.ooo">here</a>.
</p>

{{ heading("About the Owner") }}
<p>
My name is Colin Wallace. I am an artist who creates music and drawings, as well as an avid programmer and contributor to open source coding projects.
I am currently working towards a BS EE degree at the University of Washington in Seattle, WA.
<br>
<br>
Some notable projects to which I have contributed include:
</p>

<ul class="list-single-lines">
		<li>
				<a href="https://www.rust-lang.org/">Rust</a> - a systems programming language
		</li>
		<li>
				<a href="https://lmms.io/">LMMS</a> - an open source Digital Audio Workstation
		</li>
		<li>
				<a href="http://www.stepmania.com/">Stepmania</a> - a music/rhythm game (Dance Dance Revolution clone)
		</li>
		<li>
				<a href="https://github.com/Wallacoloo/printipi">Printipi</a> - a complete firmware package for 3d printers
		</li>
</ul>

<p>
More details can be found on my <a href="https://github.com/Wallacoloo">Github page</a> or by contacting me through one of the resources listed at the bottom of this page.
</p>

{{ heading("License / Attributions") }}
<p>
Unless otherwise specified, everything on this website is public domain. That includes all the html/css, artwork, and blog content. They may all be freely used for any purpose with or without attribution.

<br>
<br>

The exceptions to this include:
</p>

<ul class="list-single-lines">
		<li>
				<a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a> by Dave Gandy (license: <a href="https://en.wikipedia.org/wiki/SIL_Open_Font_License">SIL Open Font License</a>);
				used to display social media icons in the site footer.
		</li>
		<li>
				<a href="http://www.fontsquirrel.com/fonts/Quicksand">Quicksand</a> by Andrew Paglinawan (license: <a href="https://en.wikipedia.org/wiki/SIL_Open_Font_License">SIL Open Font License</a>);
				used as the font for most headers.
		</li>
		<li>
				<a href="http://www.fontsquirrel.com/fonts/Raleway">Raleway</a> (license: <a href="https://en.wikipedia.org/wiki/SIL_Open_Font_License">SIL Open Font License</a>);
				used as the default font.
		</li>
</ul>

{% endblock %}
