{# Provide some common macros #}
{% macro anchored_header(text, class="") %}
<a class="anchored-header" href="#{{ text|lower|replace("/", "-and-")|replace(" ", "-") }}">
		<h1 id="{{ text|lower|replace("/", "-and-")|replace(" ", "-") }}" class="{{ class }}">
				<span class="fa fa-paragraph"></span>
				{{ text }}
		</h1>
</a>
{% endmacro %}

<!DOCTYPE html>
<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width initial-scale=1" />
			<meta name="description" content="Weblog/homepage for an artist/developer/engineer. DIY build logs, opinions and artwork" />
			<link rel="stylesheet" href="res/global.css">
			<link rel="stylesheet" href="res/font-awesome/css/font-awesome.min.css">
			<title>{% block title %}MOOOOO.ooo - DIY Builds, Opinions & Artwork{% endblock %}</title>
		</head>
		<body>
			<header class="nav-header">
					{# Derivative templates are expected to
						{% set is_page_xxx = True %} for at least one page #}
					<ul class="nav-ul">
							<li class="nav-li-blog{{ " active" if is_page_blog else ""}}">
									<a href="./index.html">Blog</a>
							</li>
							<li class="nav-li-about{{ " active" if is_page_about else "" }}">
									<a href="./about.html">About</a>
							</li>
					</ul>
			</header>
			<div class="page-content">
					{% block content %}{% endblock %}
			</div>
			<footer class="glob-footer">
					<div class="footer-social">
							<a class="email fa fa-envelope" href="mailto:{{ social.contact_email }}"></a>
							<a class="github fa fa-github" href="{{ social.github_url }}"></a>
							<a class="twitter fa fa-twitter" href="{{ social.twitter_url }}"></a>
					</div>
					<p class="footer-legal">
							Unless otherwise stated, all code snippets, artwork or writings hosted on this website are released into the public domain.
							<a href="./about.html#license--and--attributions">More info</a>.
					</p>
			</footer>
		</body>
</html>
