{# Provide some common macros #}

{% macro heading(text, link=True, link_to=None, show_icon=True, sublevel=0) %}
{# sublevel=0 for an ordinary header, 1 for a sub-heading, 2 for a sub-sub-heading, etc #}
<h{{ sublevel+1 }} class="anchored-header" id="{{ text|into_tag }}">
{{ add_anchor(text|into_tag) }}
		{% if link %}
			{% if link_to != None %}{# Link to other page #}
				{{ add_rtdep(link_to) }}
				{% if do_render %}
					<a href="{{ link_to.path|to_rel_path }}">
				{% endif %}
			{% else %}{# Link to self #}
				<a href="{{ "#" + text|into_tag }}">
			{% endif %}
		{% endif %}
		{% if link and show_icon %}<span class="fa fa-paragraph" title="Permalink to this headline"></span>{% endif %}
		<span class="header-text">{{ text }}</span>
		{% if link %}</a>{% endif %}
</h{{ sublevel+1 }}>
{% endmacro %}

{% macro show_image() %}
{# signature (jinja2's varargs are poorly designed):
  show_image(*images, caption="") #}
{# Used to show an image in the center of the screen.
   This also configures the link to a full-screen version.
   Note: srcdep is needed to know the image size at build time. #}
<span class="image-container">
<span class="centered">
{% for image_ in varargs %}
{% set image=get_image(image_) %}
{{ add_srcdep(image) }}
{{ add_rtdep(image) }}
{% if do_render %}
		<a href="{{ image.path|to_rel_path }}" class="image-link">
				<img src="{{ image.path|to_rel_path }}" width="{{ image.size.0 }}px" height="{{ image.size.1 }}px" class="theater-image columns-{{ kwargs.get("columns", 1) }}"/>
		</a>
{% endif %}
{% endfor %}
{% if kwargs.get("caption") %}
	<span class="caption">
		<i>{{ kwargs["caption"] }}</i>
	</span>
{% endif %}
</span>
</span>
{% endmacro %}

{% macro include_css(css_page) %}
{{ add_rtdep(css_page) }}
{% if do_render %}
	<link rel="stylesheet" href="{{ css_page.path|to_rel_path }}">
{% endif %}
{% endmacro %}

{% macro offsite_link(path, label="", class="") %}
{# Use whenever linking to an off-site resource.
   This was we can indicate it's off-site (with an icon, etc), etc #}
<a class="{{ class }}" href="{{ path }}">{{ label }}</a>{% endmacro %}

{% macro onsite_link(destpage, label="", anchor="", class="") %}
{# Use whenever a-href'ing to another page OR in-page heading #}
{{ add_rtdep(destpage) }}
<a class="{{ class }}" href="{{ destpage.anchor_path(anchor, validate=validate_anchors)|to_rel_path }}">{{ label }}</a>{% endmacro %}

{% macro mailto_link(address, label="", class="", subject="", body="") %}
{{ offsite_link(path=("mailto:" + address)|url_with_args(**dict(subject=subject, body=body)|drop_null_values), label=label, class=class) }}{% endmacro %}

{% macro cite(url) %}
{# TODO: implement a reference count #}
<sup>{{ offsite_link(url, "[1]") }}</sup>
{% endmacro %}

{# Note: the below needs to be all on one line so its use within a P tag won't cause formatting issues #}
{# see the (last revised XXX) line in blog_entry.html as example #}
{% macro show_date(date) %}<span title="{{ date|detailed_date }}">{{ date|friendly_date }}</span>{% endmacro %}

{% macro inline_code(code) %}
<code class="inline-code">{{ code }}</code>
{% endmacro %}

{% macro multiline_code(code) %}
<code class="multiline-code">{{ code }}</code>
{% endmacro %}

{% if do_render or query_anchors or query_deps %}
<!DOCTYPE html>
<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width initial-scale=1" />
			<meta name="description" content="Weblog/homepage for an artist/developer/engineer. DIY build logs, opinions and artwork" />
			{{ include_css(pages["css/global.css"]) }}
			<title>{% block title %}{{ page.title }}{% endblock %}</title>
			<style>
{# Include absolutely essentially style in the header; things that prevent the page from looking outright horrible while loading #}

{# Unless otherwise specified, don't allow elements to overflow their container (or the page as a whole) #}
*
{
		max-width: 100%;
}
{# If an image's width is limited (by the above), also scale its height #}
img
{
		height: auto;
}
			</style>
		</head>
		<body>
			<header class="nav-header">
					{# Derivative templates are expected to
						{% set is_page_xxx = True %} for at least one page #}
					<ul class="nav-ul">
							<li class="nav-li-blog{{ " active" if page.__class__ == HomePage else ""}}">
									{{ onsite_link(pages["/"], "Blog") }}
							</li>
							<li class="filler">
							</li>
							<li class="nav-li-about{{ " active" if page.__class__ == AboutPage else "" }}">
									{{ onsite_link(pages["about"], "About") }}
							</li>
					</ul>
			</header>
			<div class="page-content">
					{% block page_content %}{% endblock %}
			</div>
			<footer class="glob-footer">
					<div class="footer-social">
							{{ mailto_link(social.contact_email, class="email fa fa-envelope") }}
							{{ offsite_link(social.github_url, class="github fa fa-github") }}
							{{ offsite_link(social.twitter_url, class="twitter fa fa-twitter") }}
					</div>
					<p class="footer-legal">
							Unless otherwise stated, all code snippets, artwork or writings hosted on this website are released into the public domain.
							{{ onsite_link(pages["about"], "More info", anchor="License / Attributions"|into_tag) }}.
					</p>
			</footer>
		</body>
</html>
{% endif %}

