<!DOCTYPE html>
<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width initial-scale=1" />
			<meta name="description" content="Weblog/homepage for an artist/developer/engineer. DIY build logs, opinions and artwork" />
			<link rel="stylesheet" href="res/global.css">
			<title>MOOOOOooo</title>
		</head>
		<body>
			<header class="nav-header">
					<ul class="nav-ul">
						<li class="nav-li-home">
								<a href="www.mooooo.ooo">MOOOOOooo</a>
						</li>
						<li class="nav-li-about">
								<a href="./about">About</a>
						</li>
					</ul>
			</header>
			<div>
					{{ content }}
			</div>
		</body>
</html>
