{{ page.set_type(BlogEntry) }}
{{ page.set_title(blog_title) }}

{% extends 'base.html' %}

{% block title %}{{ blog_title }}{% endblock %}

{% block page_content %}
{{ heading(blog_title, linkable=False, class="no-top-spacing") }}

<p class="blog-author">
By {{ page.authors[0].name }}
</p>

<p class="blog-pubdate">
{{ page.pub_date|friendly_date }}
(last revised {{ page.last_edit_date|friendly_date }})
</p>

{# Provide a block for the blog entry to render its main content into #}
	{% block entry_content %}{% endblock %}
{% endblock %}

