{% from 'fullscreen_graphics.html' import show_bg_image, bg_audio %}
{{ page.set_desc("Pinkie Pie likes to party") }}
{{ page.set_title("Pinkie.Party()") }}

{% extends 'fullscreen_graphics.html' %}

{% block extra_style %}
body
{
	background-color: #ffffff;
}
{% endblock %}

{% block page_content %}
{{ show_bg_image(page.images["pinkie_box.gif"]) }}
{{ bg_audio(page.audio["tarzan_and_jane_loop.ogg"]) }}
{% endblock %}

{% block footer %}
<a class="info" href="https://youtu.be/eKOonpKfLZ8">Animation by Tridashie</a>
{% endblock %}

