{% from 'fullscreen_graphics.html' import show_bg_image, bg_audio %}
{% extends 'fullscreen_graphics.html' %}
{% set page_info.desc = "Pinkie Pie likes to party" %}
{% set page_info.title = "Pinkie.Party()" %}

{% set pinkie_box = get_image("pinkie_box.gif") %}
{% set tarzan_and_jane_loop = get_audio("tarzan_and_jane_loop.ogg") %}


{% block extra_style %}
body
{
	background-color: #ffffff;
}
{% endblock %}

{% block page_content %}
{{ show_bg_image(pinkie_box) }}
{{ bg_audio(tarzan_and_jane_loop) }}
{% endblock %}

{% block footer %}
<a class="info" href="https://youtu.be/eKOonpKfLZ8">Animation by Tridashie</a>
{% endblock %}

