.blog-author
{
		opacity: 0.55;
		font-style: italic;
}

.blog-pubdate
{
		opacity: 0.55;
}

/* Templated info displayed at the bottom of the blog, e.g. link to source */
.blog-footer
{
		margin-top: 3em;
}
.blog-footer > .fix-info
{
		margin-top: 1em;
}

/* If the text starts right after the title info, insert a gap */
.blog-title-info + p
{
		margin-top: 2em;
}
