/* Reset basic elements */
body, code, h1, h2, h3, h4, h5, h6, p, pre, ul
{
	margin: 0;
	padding: 0;
}

*
{
		box-sizing: border-box;
}

/* Always allocate 100% of the page to allow for pushing the footer to the bottom, etc */
html, body
{
		height: 100%;
}

body
{
		font-family: "{{ config.fonts.body }}","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2
{
	font-family: "{{ config.fonts.title }}","Helvetica Neue",Arial,sans-serif;
	font-weight: bold;
}

h1
{
	margin: 1em 0px 0px 0px;
	font-size: 2em;
	color: #2d271c;
}

h2
{
	margin: 0.75em 0px 0px 0px;
	font-size: 1.5em;
}

/* Successive paragraphs should have empty lines between them */
p + p
{
		margin-top: 1em;
}

/* Emphasis within italics should be bold */
i > em
{
		font-weight: bold;
}
