{% from 'macros.jinja' import include_inline %}
{% from 'macros.css' import incl_font_sources %}

/* Fonts */
/* QuickSand font:
 * source: http://www.fontsquirrel.com/fonts/Quicksand
 *       : https://www.google.com/fonts/specimen/Quicksand
 * License: SIL Open Font License 1.1
 * Author: Andrew Paglinawan
 * Thanks for such a beautiful font, Andrew!
 */
@font-face
{
    font-family: 'quicksand';
	src: local("Quicksand Regular"), local("Quicksand-Regular");
	{{ incl_font_sources("Quicksand-Regular") }}
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'quicksand';
	src: local("Quicksand Bold"), local("Quicksand-Bold");
	{{ incl_font_sources("Quicksand-Bold") }}
    font-weight: 700;
    font-style: normal;
}
{#
/* Raleway font:
 * source: http://www.fontsquirrel.com/fonts/Raleway
 *       : https://www.google.com/fonts/specimen/Raleway
 * License: SIL Open Font License 1.1
 * Author: Multiple (The League of Moveable Type)
 */
@font-face
{
    font-family: 'raleway';
	src: local("Raleway Regular"), local("Raleway-Regular");
	{{ incl_font_sources("Raleway-Regular") }}
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'raleway';
	src: local("Raleway Bold"), local("Raleway-Bold");
	{{ incl_font_sources("Raleway-Bold") }}
    font-weight: 700;
    font-style: normal;
}
#}

/* Lora font:
 * source: http://www.fontsquirrel.com/fonts/Lora
 *       : https://www.google.com/fonts/specimen/Lora
 * License: SIL Open Font License 1.1
 * Author: Cyreal
 */
@font-face
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
	src: local('Lora'), local('Lora-Regular');
	{{ incl_font_sources("Lora-Regular") }}
}

@font-face
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
	src: local('Lora Bold'), local('Lora-Bold');
	{{ incl_font_sources("Lora-Bold") }}
}

@font-face
{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
	src: local('Lora Italic'), local('Lora-Italic');
	{{ incl_font_sources("Lora-Italic") }}
}

@font-face
{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
	src: local('Lora Bold Italic'), local('Lora-BoldItalic');
	{{ incl_font_sources("Lora-BoldItalic") }}
}

/* Cardo font:
 * source: http://www.fontsquirrel.com/fonts/Cardo
 *       : https://www.google.com/fonts/specimen/Cardo
 * License: SIL Open Font License 1.1
 * Author: David Perry
 */
@font-face
{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
	src: local('Lora'), local('Cardo-Regular');
	{{ incl_font_sources("Cardo-Regular") }}
}

@font-face
{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
	src: local('Cardo Bold'), local('Cardo-Bold');
	{{ incl_font_sources("Cardo-Bold") }}
}

@font-face
{
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
	src: local('Cardo Italic'), local('Cardo-Italic');
	{{ incl_font_sources("Cardo-Italic") }}
}

{{ include_inline(pages["css/font-awesome.css"]) }}

