/* Fonts */
/* QuickSand font:
 * source: http://www.fontsquirrel.com/fonts/Quicksand
 *       : https://www.google.com/fonts/specimen/Quicksand
 * License: SIL Open Font License 1.1
 * Author: Andrew Paglinawan
 * Thanks for such a beautiful font, Andrew!
 */
@font-face
{
    font-family: 'quicksand';
	src: local("Quicksand Regular"), local("Quicksand-Regular");
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'quicksand';
	src: local("Quicksand Bold"), local("Quicksand-Bold");
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Raleway font:
 * source: http://www.fontsquirrel.com/fonts/Raleway
 *       : https://www.google.com/fonts/specimen/Raleway
 * License: SIL Open Font License 1.1
 * Author: Multiple (The League of Moveable Type)
 */
@font-face
{
    font-family: 'raleway';
	src: local("Raleway Regular"), local("Raleway-Regular");
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'raleway';
	src: local("Raleway Bold"), local("Raleway-Bold");
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

