.page-content
{
		/* Dynamically resize the margins; Make sure this is made to be fluid at the point the mobile layout kicks in */
		margin: 30px calc(17% - 93px);
		/* push the footer to the bottom */
		min-height: calc(100% - 240px);
}
/* Decrease the horizontal content margin for small screens */
@media (max-width: 600px)
{
.page-content
{
		margin: 30px 9px;
}
}
.page-content p
{
		text-align: justify;
}
.page-content p, .page-content ul
{
		line-height: 1.5em;
}

/* A vertically-spaced list wherein each item is intended to fit on one line */
.list-single-lines > li:before
{
		/* Bullet-point before each list item */
		content: "-";
		text-align: right;
		font-size: 0.85em;
		/* Item indentation */
		width: 10%;
		min-width: 20px;
		max-width: 60px;
		display: inline-block;
}

.list-single-lines
{
		margin: 0.5em 0px;
		list-style: inside none none;
}

/* Headers (i.e. h1, h2, ...) that also serve as anchors so user can navigate
 * to `mypage.html#my-anchor`.
 * This ability is indicated by changing the color of the link & showing a
 * symbol upon hover */
.anchored-header *
{
		/* Remove the (blue) link coloring */
		color: inherit;
		/* Remove default `a` underline style */
		text-decoration: inherit;
}
.anchored-header > a:hover
{
		/* Reduce the contrast to indicate it's a link */
		opacity: 0.75;
}

.anchored-header .fa-paragraph
{
		/*color: #101010;*/
		opacity: 0.85;
		visibility: hidden;
		/* Make it so the P icon will be displayed to the left of the boundary
		 * that the header would normally occupy. This prevents the header from
		 * being shifted right even when the P icon is invisible */
		margin-left: -38px;
}
.anchored-header > a:hover .fa-paragraph
{
		visibility: visible;
}

/* Stylize the header if we were linked directly to it,
  ala page.html#someId */
.anchored-header:target *
{
		color: #BA0000;
}
.anchored-header:target .header-text
{
		text-decoration: underline;
}

/* Contains an image and an optional caption (which will be aligned accordingly) */
.image-container
{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 80%;
		text-align:center;
}
.image-container > .centered
{
		display: inline-block;
}

/* If a link isn't supposed to contain text, make sure the whitespace doesn't become underlined */
.image-link
{
		text-decoration: none;
}

.theater-image
{
		/* border: 2px #686868 solid; */
		border: 2px solid #C8C0B8;
		border-radius: 11px;
}
.theater-video
{
		/* Prevent horizontally-compressed videos from using their old box height */
		height: auto;
}

.columns-1
{
		width: 100%;
}

.columns-2
{
		width: 50%;
		/* Remove the implicit margins from the border */
		margin: -2px;
}

/* For small displays: images should be displayed as just one column */
@media (max-width: 600px)
{
.columns-2
{
		width: 100%;
		margin: 0px;
}
}

.caption
{
		text-align: left;
		display: block;
		line-height: 1.15em;
}

.caption:before
{
		/* Indent the first line of a caption */
		content: "";
		padding-left: 28px;
}
