/* Site-wide footer styling */
.glob-footer
{
		border-top: 1px solid #D8D8D8;
		padding: 12px 10% 8px 11%;
}
.footer-social
{
		width: 25%;
		min-width: 40px;
		float: left;
		list-style: outside none none;
		padding-bottom: 8px;
}

.footer-social > a.fa
{
		background-color: rgba(255,255,255,0.8);
		color: rgba(48,122,176,0.8);
		text-decoration: none;
		text-align: center;
		vertical-align: middle;
		width: 32px;
		height: 32px;
		/* Inline-flex makes this properly render as a circle while we wait for the font to load */
		display: inline-table;
		line-height: 28px;
		font-size: 22px;
		margin: 2px;
		/* Upon hover of the social media icons, we have color transitions.
		 * These should be smoothed. */
		transition: all 0.2s ease 0s;
		/* Rounded border */
		border-radius: 100%;
		border: 2px #CCCCCC solid;
}
.footer-social > a.fa:hover
{
		border: 2px #8A8A8A solid;
		background-color: rgba(255,255,255,1.0);
}

.footer-social > .email:hover
{
		color: #DDA036;
}
.footer-social > .github:hover
{
		color: #101010;
}
.footer-social > .twitter:hover
{
		color: #4099ff;
}

/* Fix the display of the social media icons for before the fonts have loaded */
/*.footer-social > a:after
{
		content: "";
		display: inline-block;
		width: 100%;
}*/

/* The email icon needs a smaller font size to look natural when enclosed in a
 * circle */
.footer-social > a.email
{
		font-size: 18px;
}

.footer-legal
{
		width: 75%;
		float: right;
		padding-bottom: 8px;
		font-size: 0.85em;
}

