/* Global site-header links */
.nav-header
{
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: 1px solid #D8D8D8;
}

.nav-ul > li
{
		/* stack each navigation link horizontally, not vertically */
		display: table-cell;
		width: 1%;
		font-family: "{{ config.fonts.header }}","{{ config.fonts.header_fallback }}";
		font-size: 1.67em;
		padding-top: 0.2em;
}
.nav-ul > li.filler
{
		width: 7%;
}

.nav-ul > li > a
{
		display: block;
		text-decoration: none;
		color: #337AB7;
		font-family: "{{ config.fonts.header }}","{{ config.fonts.header_fallback }}";
		font-weight: bold;
		border-bottom: rgba(216,216,216,0) 2px solid;
		transition: all 0.15s ease 0s;
		font-variant: all-small-caps;
}
.nav-ul > li > a:hover
{
		color: #51687B;
		border-bottom: #cccccc 2px solid;
}

.nav-li-blog
{
		text-align: left;
}
.nav-li-blog > a
{
		padding-left: 20%;
}
.nav-li-about > a
{
		padding-right: 20%;
}

.nav-li-about
{
		text-align: right;
}

.nav-ul > li.active > a
{
		/* The nav link of the page we're on gets a special underline highlight */
		border-bottom: 2px solid #307AB0;
}

