{% from 'fullscreen_graphics.html' import show_bg_image, show_image, bg_audio %}
{{ page.set_desc("♪Shadilay♪") }}
{{ page.set_title("♪Shadilay♪") }}
{% set dancing_pepe=page.images["dancing-pepe.gif"] %}
{{ add_srcdep(dancing_pepe) }}
{% set kekistan=page.images["kekistan-bordered.jpg"] %}

{% extends 'fullscreen_graphics.html' %}

{% block extra_style %}
body
{
	background-color: #ffffff;
}
@keyframes bg-scroll
{
	from { background-position: 0px 0px; }
	to { background-position: {{ dancing_pepe.size.0}}px -{{ dancing_pepe.size.1}}px; }
}
.bg-pepe
{
	height: 100%;
	background-repeat: repeat;
	animation-name: bg-scroll;
    animation-duration: 6s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.fg-kekistan
{
	width: 500px;
	height: auto;
	min-width: 25%;
	max-width: 70%;
	max-height: 50%;
	object-fit: contain;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
{% endblock %}

{% block page_content %}
{{ show_bg_image(dancing_pepe, "bg-pepe") }}
{{ show_image(kekistan, "fg-kekistan") }}
{{ bg_audio(page.audio["shadilay_loop.ogg"]) }}
{% endblock %}

