{{ page.set_type(HomePage) }}
{{ page.set_title("MOOOOO.ooo - DIY Builds, Opinions & Artwork") }}

{% extends 'base.html' %}

{% block page_content %}

{% for entry in pages.blog_entries.values()|selectattr("is_published")|sort(attribute="pub_date", reverse=True) %}
{{ heading(entry.title, link_to=entry, show_icon=False, sublevel=1) }}
<div class="blog-pubdate">
{{ show_date(entry.pub_date) }}
</div>
{% endfor %}

{% for entry in pages.blog_entries.values()|selectattr("is_published", "even") %}
<!-- Super-secret unpublished article! {{ heading(entry.title, link_to=entry, show_icon=False, sublevel=1) }} -->
{% endfor %}

<!-- Other secrets
		{{ show_video(page.images["colin.webm"]) }}
		{{ show_video(page.images["rick.webm"]) }}
-->


{% endblock %}

