{% from 'base.html' import heading %}
{{ page.set_title("The DIY Laptop") }}

{% extends 'blog_entry.html' %}
{% block entry_content %}

{{ show_image(page.images["end-result-1.jpg"], caption="The end result of this experiment.") }}

{# Plan:
Background: Why a DIY laptop.
Existing options: (xbox laptop).

#}

{{ heading("Background") }}

<p>
Back in August, I decided to ditch my horribly dated Toshiba Satellite and set myself up with a new computer.
Based on my experience buying a low-end laptop the previous time and then my inability to meaningfully upgrade its RAM or hard disk,
I wanted something that was atleast mid-range for today, and upgradeable in the future.
Turns out, it's very difficult to find a mid-range laptop that doesn't have a ridiculous price markup.
And barebones, easily upgradeable laptops are prohibitively expensive.
</p>

<p>
So I looked into other options - especially in the DIY area. There's a fair amount of talk about "DIY laptops", but everyone interprets the phrase differently and there are very few actual results beyond somebody's ridiculously over-the-top plans.
</p>

<p>
Enter Intel's NUC (I spent a good 2 months with research before deciding upon the NUC, but I'm skipping all the ideas I ditched for the sake of brevity).
</p>

{{ show_image(get_image("digital-trends-nuc-5i5ryk.jpg"), caption="The Intel NUC 5i5RYK. Source (along with an in-depth review): " + offsite_link("http://www.digitaltrends.com/desktop-computer-reviews/intel-nuc-core-i5-nuc5i5ryk-review/attachment/intel-nuc-core-i5-nuc5i5ryk-mini-pc-review-front-ports/", "Digital Trends")) }}

<p>
The intel NUC is an unusually-powerful mini-PC. There's a whole class of PCs in this form factor, but the majority of them pack whimpy Atom processors and have soldered RAM or few connectivity options.
</p>

<p>
This particular model packs a 5th-generation i5-5250U dual-core (plus hyperthreading) processor with intel HD 6000 graphics packing 768 GFLOPS {{ cite(url="https://en.wikipedia.org/wiki/Intel_HD_and_Iris_Graphics#Broadwell") }} all at a 15 W TDP. It also accepts 2x8GB LPDDR3 DIMMs and has one M.2 slot for your choice of SSD. The price tag is around $350. Couple this with a display, battery, keyboard and touchpad, and you've got a decent laptop.
</p>

<p>
And... enter Motorola's failed Lapdock project:
</p>

{{ show_image(get_image("amazon-lapdock.jpg"), caption="Source: " + offsite_link("https://www.amazon.com/AT-Laptop-Dock-Motorola-ATRIX/dp/B004M17D62", "Amazon product page")) }}

<p>
The Lapdock provides all the components I listed previously, plus a pair of (weak) speakers and exposes all those peripherals over a single USB connection + one HDMI connection. It was originally designed to be paired with a specific Motorola phone model, but that's irrelevant - it can be connected to <em>anything</em>.
</p>

<p>
Naturally, these two products should pair with each other.
The next thing to determine is whether the Lapdock could source enough power for the NUC or if I'd need an additional battery (the Lapdock is just designed to charge a phone and host a pair of USB devices - it might not be spec'd high enough for the NUC system).
So I cracked open the Lapdock and found my way to the battery circuitry.
</p>

<p>
This part was new to me - batteries are an intimidating thing when it comes to safety.
I figured Motorola, being a fairly reputable company, had the proper protections very close to the cells, if not actually integrated into the batteries, so I just attached clips right near the base of the bus that transmits power from the battery circuitboard to the main circuit board, made a mental note of where my (electrical-)fire extinguisher was, attached an "adjustable load", and measured the voltage across the load as I adjusted it.
</p>

{{ show_image(page.images["lapdock-power-load.jpg"], caption="A low-precision \"adjustable load\" for the hapless engineer.") }}

<p>
I approximated the maximum power supply by adjusting the load between 12 ohms and 3 ohms, measuring the voltage across the load after 30 seconds and using Ohm's {{ inline_code("P=V^2/R") }} relationship.
I stopped at 35 W as a precaution (it's enough for my application), but presumably one can extrapolate further based on these results plotted below.
</p>

{{ show_image(get_image("voltage-vs-power.png"), caption="Voltage vs. Power measured at full-charge with ambient temperature around 25 C.") }}

<p>
I don't know much about battery chemistry, but if we model the battery and its control circuitry as a {{ offsite_link("https://en.wikipedia.org/wiki/Th%C3%A9venin's_theorem", "Thevenin circuit") }},  we can infer that over 4 W are dissipated in the surrounding circuitry when the load reaches 35 W (i.e. 89% efficiency).
I don't know the implications of this -- the lapdock's shell should serve as a giant heat-sink if necessary, and this heat is already spread over much more area than a single IC -- but I still wouldn't push it.
Fortunately, power loss appears to have a <em>quadratic</em> relationship with the load (which is intuitive); a 20 W load causes only about 1.1 W in power loss, and that's our target operating range.
</p>

<p>
Now, the NUC advertises an input voltage anywhere between 12 V and 19 V. I figure that the 12 V would be aimed at robotics - many of which are powered by batteries with a <em>nominal</em> voltage of 12 V.
Hence, it wouldn't be unexpected if it's really designed for ~11.5 V, as the battery drains or heats up, and it's good practice for manufacturers to add error margins to this number on top of that.
</p>

<p>
So in the spirit of error margins, or rather, <em>against</em> that spirit, I figured I'd at least <em>try</em> connecting the lapdock's power supply directly to the NUC. Lo and behold, it worked!*
</p>

*<i> Well, on a full charge, anyway. The NUC has a tendency to shut off around the 40% battery level in warmer weather.</i>

{% endblock %}

