{% from 'base.html' import heading %}
{{ page.set_title("The DIY Laptop") }}

{% extends 'blog_entry.html' %}
{% block entry_content %}

{{ show_image(page.images["end-result-1.jpg"], caption="The end result of this experiment.") }}

{# Plan:
Background: Why a DIY laptop.
Existing options: (xbox laptop).

#}

{{ heading("Background") }}

<p>
Back in August, I decided to ditch my horribly dated Toshiba Satellite and set myself up with a new computer.
Based on my experience buying a low-end laptop the previous time and then my inability to meaningfully upgrade its RAM or hard disk,
I wanted something that was atleast mid-range for today, and upgradeable in the future.
Turns out, it's very difficult to find a mid-range laptop that doesn't have a ridiculous price markup.
And barebones, easily upgradeable laptops are prohibitively expensive.
</p>

<p>
So I looked into other options - especially in the DIY area. There's a fair amount of talk about "DIY laptops", but everyone interprets the phrase differently and there are very actual results beyond somebody's ridiculously over-the-top plans.
</p>

<p>
But my research led me to discover the realm of "Mini PCs" - full desktop PCs with very small form factors that are mostly designed to fit in some discreet location or attach to the back of a monitor. Many of these were actually as thin as my previous laptop.
</p>

<p>
So I thought to myself: <i>if these PCs are already designed to mount to the back of a display, maybe I can find a portable display/battery/keyboard and just connect everything together</i>. For the most part, the components necessary for such a system that balanced size and cost didn't exist at the time. However, I happened to have a Motorola Lapdock lying around from a previous project.
</p>

<p>
So I began planning. The first thing to figure out was what options I had available for powering a PC off of a battery.
<!--By looking at all the specs for mini PCs whose performance I deemed acceptable, I knew that most of these systems had a TDP of 15 W. So I figured my system should be capable of supplying at least about 30 W, to accomodate for the RAM and SSD, plus at least some error margin. -->
The Lapdock <i>is</i> designed to charge a phone when it's connected. And it also has 2 USB ports -- so <i>maybe</i> it can source enough power to boot some low-power system, and I can see how things work from there?
I mean, people use these to power Raspberry Pi's, so it must be able to source <i>some</i> amount of current.
</p>

<p>
So I attached a load across the USB power pins and measured things with a multimeter. I can't remember exactly my approach, but it was immediately clear that powering even one of the intel compute stick's would be pushing it past its limits (which happen to be roughly 3.2 W).
Maybe this was a good thing though, because it made me much less interested in the USB-stick computers which I know I wouldn't have been happy with anyway.
Instead, I decided upon the intel NUC as my mini-computer, and I would find a small battery capable of outputting the 12-19 V input the NUC expects. 
The NUC model I had in mind shipped with a 2-core i5 processor with a TDP of 15 W.
So I figured my system should be capable of supplying at about 30 W, to accomodate for the RAM and SSD, plus at least some error margin.
</p>

<p>
I was having a bit of trouble finding a good solution, so I went out on (what I thought was) a whim and decided to see how much power the Lapdock's battery could source, thinking that <i>maybe</i> I could piggyback off that and boost it up to 12-19 V.
So I opened up the lapdock and hunted for the power rails using a multimeter. Much to my surprise, the power circuitry actually made use of 3 cells stacked in series... summing to a nominal voltage of <i>almost</i> 12 V.
</p>

<p>
Next step: figure out how much power this can source. This part was new to me - batteries are an intimidating thing when it comes to safety. I figured Motorola, being a fairly reputable company, had the proper protections very close to the cells, if not actually integrated into the batteries, so I just attached clips right near the base of the bus that transmits power from the battery circuitboard to the main circuit board, made a mental note of where my (electrical-)fire extinguisher was, attached an "adjustable load", and measured the voltage across the load as I adjusted it.
</p>

{{ show_image(page.images["lapdock-power-load.jpg"], caption="A low-precision \"adjustable load\" for the hapless engineer.") }}

<p>
I approximated the maximum power supply by adjusting the load between 12 ohms and 3 ohms, measuring the voltage across the load after 30 seconds and using Ohm's {{ inline_code("P=V^2/R") }} relationship.
I stopped at 35 W as a precaution (it's enough for my application), but presumably one can extrapolate further based on these results plotted below.
</p>

{{ show_image(get_image("voltage-vs-power.png"), caption="Voltage vs. Power measured at full-charge with ambient temperature around 25 C.") }}

<p>
I don't know much about battery chemistry, but if we model the battery and its control circuitry as a {{ offsite_link("https://en.wikipedia.org/wiki/Th%C3%A9venin's_theorem", "Thevenin circuit") }}, {{ inline_code("P=IV") }} we can infer that over 4 W are dissipated in the surrounding circuitry when the load reaches 35 W (i.e. 89% efficiency).
I don't know the implications of this -- the lapdock's shell should serve as a giant heat-sink if necessary, and this heat is already spread over much more area than a single IC -- but I still wouldn't push it.
Fortunately, power loss appears to have a <em>quadratic</em> relationship with the load (which is intuitive); a 20 W load causes only about 1.1 W in power loss, and that's our target operating range.
</p>

<p>
Now, the NUC advertises an input voltage anywhere between 12 V and 19 V. I figure that the 12 V would be aimed at robotics - many of which are powered by batteries with a <em>nominal</em> voltage of 12 V.
Hence, it wouldn't be unexpected if it's really designed for ~11.5 V, as the battery drains or heats up, and it's good practice for manufacturers to add error margins to this number on top of that.
</p>

<p>
So in the spirit of error margins, or rather, <em>against</em> that spirit, I figured I'd at least <em>try</em> connecting the lapdock's power supply directly to the NUC. Lo and behold, it works!*
</p>

*<i> Well, on a full charge, anyway. The NUC has a tendency to shut off around the 40% battery level in warmer weather.</i>

{% endblock %}

