{% from 'base.html' import heading %}
{{ page.set_title("Best pony, as told by Fimfiction") }}

{% extends 'blog_entry.html' %}
{% block entry_content %}


{{ heading("Background") }}

<p>
When JockeTF released his
{{ offsite_link("https://www.reddit.com/r/mylittlepony/comments/4l5o3p/fimfarchive_20160525_released_all_stories_on/", "archive of every single story on Fimfiction") }}
two months ago, I immediately realized the potential for calculating
some interesting statistics, though apparently, I took my time.
({{ offsite_link("http://www.Fimfiction.net/", "Fimfiction") }},
for the uninitiated, is the brony community's premier platform for
sharing fan fiction. If this confuses you more, read
{{ offsite_link("https://en.wikipedia.org/wiki/My_Little_Pony:_Friendship_Is_Magic_fandom", "this") }} Wikipedia page,
or just continue on and laugh at how absurdly niche the contents of this
article are).
The dump consists of a whopping 135,000 stories published over the last
5 years, totalling 8.5 GB of uncompressed text. It's a huge sample
size and is largely representative of all but the earliest of the
fandom's written works. But where to start?
</p>

<p>
The one question that gets brought up more often than anything else
in this fandom is, <em>by far</em>, "who is best pony?"
So, why not start there? Who, <em>really</em>, is best pony?
</p>

{{ heading("Best pony by story votes") }}

{{ show_image(page.images["rating_vs_char.png"], caption="The average rating of all stories on Fimfiction, when filtered based on character appearance. Since Fimfiction doesn't expose a one-dimensional rating field, we
rank stories based on (likes-dislikes)/(likes+dislikes).") }}

<p>
Well ah'll be - wouldja look at that? The set of stories in which
Applejack appears (by name) has a higher average rating than the set of
stories in which any other given character appears. That is to say, if
you randomly pick one story in which Applejack appears and a different
story in which one of the other mane 6 appears, you can expect the
former to be rated higher.
</p>

<p>
By the way, here's the same figure extended for more characters. If you
want to read a good story, pick one about Nightmare Moon!
</p>

{{ show_image(page.images["rating_vs_char_all.png"], caption="Extended
character ratings. Each character has at least 4000 stories, except for
Babs Seed (1436) and Flurry Heart (173).") }}

<p>
So that's <i>one</i> interpretation of the "best pony" question (and
probably the best approach for the data we have available), but why stop
there? Maybe being the best pony isn't about having the highest story
ratings. Maybe it's about being written of the most frequently, or being
portayed in the most positive light? The question is rather
ill-defined, which is what makes it so much fun in the first place.
</p>

<p>
So, here we go.
</p>

{{ show_image(page.images["character_mentions_in_a_story.png"],
caption="Hah! Take that, Applejack. Of the mane 6, AJ appears in the fewest stories.") }}

<p>
When I say a character "appears" in a story, I mean that their name,
or nickname, appears in the text. For example, if the text contains
"Rainbow", "Dash", or "Dashie" (case-sensitive, to avoid attributing the verb use of "dash" to the character), then I say that
Rainbow Dash makes an appearance in that story. This is flawed, as it
could be that a different character is actually speaking about RD
instead, but I think it's <em>reasonably</em> accurate.
</p>

<p>
Using the same method, we can also infer something about the fandom's
favorite ship. Spoiler, it's Twilight Sparkle/Rainbow Dash.
</p>

{{ show_image(page.images["char_pairs.png"]) }}

<p>
If we go back to the frequency of character appearances, there's something
a little odd: although Celestia appears in as many <em>stories</em> as
Twilight, Twilight appears in far more <em>sentences</em> than anyone else.
This could mean that Celestia tends to play a less important role in the
stories she's mentioned in, while Twilight plays more central roles (or
plays central roles in lengthier stories). Or it could mean that - for
whatever reason - authors tend to mention Twilight by her name, using
fewer pronouns or non-name titles (e.g. "the librarian")
than with other characters.
</p>

{{ show_image(page.images["character_mentions_in_a_sentence.png"]) }}

<p>
Next up, how has the quality (or expectations) of fandom writing
changed with time?
</p>

{{ show_image(page.images["rating_vs_date_linear.png"], caption="Because
Fimfiction allows publishing chapters individually and at different dates,
and the ratings apply to entire stories (not chapters), I took publication
date of a story to be the average publication date of all its chapters."
) }}

<p>
I'll say that this is not a trend I expected. Unfortunately, it's
difficult to determine if the peaks correspond to creative bursts within
the fandom, or readers becoming more liberal in their "likes". However,
the large bump around Sept. 2013 - Jan. 2014 <em>does</em> correspond
to the premiere of Season 4, and specifically, "Princess Twilight". That
might not be an anomaly.
</p>

<p>
More interestingly, there's an unmistakable trend for longer stories to
have higher ratings. Note: stories with 0 votes (likes and dislikes) were
removed from the dataset for all these plots that mention rating.
</p>

{{ show_image(page.images["rating_vs_length_linear.png"],
caption="Story length seems
to be a better predictor of rating than publication date."
)}}

<p>
Here's the same thing as a scatterplot, and before you ask, yes - I
checked my work and that sharp edge at 1000 words doesn't seem to be
an error! Perhaps Fimfiction has (or used to have) a minimum word
requirement for stories?
<p>

{{ show_image(page.images["rating_vs_length.png"]) }}

{{ show_image(page.images["story_lengths.png"], caption="Number of stories
published, grouped by word count. The histogram bins are logarithmically
sized.") }}

{{ heading("Best pony by sentiment analysis") }}

<p>
Ok, let's get back on track. Can we figure out which character is
written in the most positive manner? Even though stories containing
Applejack have the highest ratings, it would be questionable to proclaim
her as best pony if all these stories were about how hilariously boring
she is.
<p>

<p>
To some degree, we <em>can</em>, using something called Sentiment Analysis.
A very simple form of sentiment analysis is to take a look at a single sentence
and attach some number indicating how "positive" the sentence is. For example,
on a scale from -1 to +1, <i>"your smile fills me with glee"</i> might score +0.8 because
that's a happy thought. On the other hand, <i>"cows are terrifying because they're fat
and they talk a lot"</i> might get -0.6. The exact process is hard to define, since we're
attempting to quantify a qualitative and subjective measurement. It's also fairly
limited. Consider <i>"Pinkie moved out today. Thank God - she was <em>so</em> annoying."</i> Each
sentence would score negatively on its own, even though the overall meaning depicts
something that's (subjectively) good. Regardless, sentiment analysis can still be
useful.
</p>

<p>
If we take every sentence in which a given character appears (by name) and
measure the sentiment, we can infer something about how "positively" that character
is spoken of. Of course, the scope is pretty limited - a character can be cheerful
and happy, or determined and hard-working, yet unbearably shallow, and sentiment analysis
wouldn't have anything to say for the latter attribute.
</p>

<p>
I would expect Rainbow Dash and Pinkie Pie to be associated with the most positive sentiments - 
the former because of how "awesome" she is and the latter because of all the parties and "fun"
she likes to have. Rarity would probably be the lowest, as drama doesn't tend to go over well
and she is known to frequently exaggerate the "worst possible things". Surprisingly, this isn't quite the case:
</p>

{{ show_image(page.images["char_senti_by_month_smooth.png"], caption="Average character sentiment
across all stories on Fimfiction plotted against the month in which each story was published.") }}

<p>
I'm glad I decided to look at the sentiments as a function of time, rather than averaging all
the text in one go. I wish I would have thought to do that with the ratings earlier. In any case,
Rainbow Dash actually comes out <em>on bottom</em>, with Rarity in 2nd for most of the time.
It looks like the antics of Rarity and Pinkie Pie have been chronicled in a noticably more pleasant
manner over the years. The trend is also evident for Twilight Sparkle, though the other characters -
especially Applejack - appear remarkably consistent. Noteworthy is that no character has a
<em>downward</em> trend. Perhaps the general upward motion is due to the many trollfics that were
astoundingly popular in the early days. At least to my knowledge, these seem to have faded.
</p>

<p>
On the other hand, these trends aren't quite the same when we look at the sentiment of <em>every</em>
sentence within a story (not just the ones in which a specific character is mentioned). This doesn't
support the trollfic idea, since topics like murder would absolutely bring down the sentiment of a text.
</p>

{{ show_image(page.images["text_senti_by_month_smooth.png"]) }}

<p>
Next, take a look at the sentiment as a function of location within a given story.
</p>

{{ show_image(page.images["text_senti_by_storyarc.png"]) }}

<p>
And with short, medium-length, and long stories plotted separately:
</p>

{{ show_image(page.images["text_senti_by_storyarc_binned.png"]) }}

<p>
The takeaway here is that Fimfiction authors love happy endings.
</p>

{{ heading("The state of Fimfiction") }}

<p>
That's it for the best pony 
{{ offsite_link("https://youtu.be/Cp5H0weyjYk?list=PLNC_sRuPtMoleIIzoeJ6GMCLj0UGufkf3", "nanalysis") }}.
But while I was gathering those statistics, I found some
others worthy of mention as well.
</p>

{{ show_image(page.images["most_common_titles.png"], caption="Yes. There really are nearly 30
stories all titled exactly 'The Trotting Dead'.") }}

<p>
I suppose that with 135,000 stories, it's inevitable that a few will share the same title.
Additionally, Fimfiction has more incomplete stories than completed stories, though I would expect
this to be the case for fanfiction in general.
</p>

{{ show_image(page.images["story_status_distr.png"]) }}

<p>
Finally, I'll leave you with the most common words found in sentences mentioning each given character.
This ignores all words that occur less than 50% above the baseline (i.e. across <em>all</em> the text
on Fimfiction) in order to weed out uninteresting words like "the" and "it". Have fun with your
stereotyping! (Click for larger versions).
</p>

{{ show_image("most_common_words_aj.png", "most_common_words_fs.png", "most_common_words_pp.png", "most_common_words_ra.png", "most_common_words_rd.png", "most_common_words_ts.png", 
columns=2) }}

<p>
The code to perform these analyses and generate all the plots found in this article is available publicly on
{{ offsite_link("https://github.com/Wallacoloo/fimfic-stats", "Github") }}.
</p>

{#

<p>
Some other measurements I want to make include:
</p>
<ul>
		<li>
				What is the longest instance of alliteration used in
				any story on Fimfiction?
		</li>
		<li>
				Which story includes the most non-words/typos?
		</li>
		<li>
				How long do authors take between releasing their first
				and last chapter?
		</li>
</ul>
#}

{% endblock %}

