{% from 'fullscreen_graphics.html' import bg_video, bg_audio %}
{% extends 'fullscreen_graphics.html' %}
{% set page_info.desc ="Twilight likes to dance" %}
{% set page_info.title = "Twi-dance" %}

{% set main_video = get_image("jtanVLvpLZg.webm") %}


{% block extra_style %}
body
{
	background-color: #000000;
}

{% endblock %}

{% block page_content %}
{{ bg_video(main_video) }}
{% endblock %}

{% block footer %}
<a href="https://youtu.be/jtanVLvpLZg">Video by KirbyStompFilms</a>;
<a href="https://youtu.be/tb9OpAGGZ_w">Music by Archie</a>
{% endblock %}

